*/keys.json
*private_key.txt
packages/fetchai/
packages/open_aea/
packages/valory/*
!packages/valory/connections/

.idea
**/__pycache__/
*.DS_Store
trader_backup/
.mypy_cache
/.tox/

.env
.1env
keys.json
keys_json/
leak_report

/.coverage
.dmypy.json
logs/
data/
benchmarks/
.vscode/